<!-- Change Password -->
<div id="changePasswordModal" {{#unless errors}}style="display:none"{{/unless}}>
    <div id="changePasswordContent">
        <button id="closePasswordModal">&times;</button>
        <form id="changePasswordForm" name="changePasswordForm" action="/profile/changePassword" method="POST">
            <p><span class="star">*</span> Indicates Required Field</p>
            <!-- Old Password -->
            <label for="oldPassword">Old Password</label>
            <input type="password" name="oldPassword" id="oldPassword"/>
            <span class="form-error">{{errors.oldPassword}}</span>

            <!-- New Password -->
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword"/>
            <span class="form-error">{{errors.newPassword}}</span>

            <!-- Confirm New Password -->
            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="password" name="confirmNewPassword" id="confirmNewPassword"/>
            <span class="form-error">{{errors.confirmNewPassword}}</span>

            <!-- Submit Button -->
            <button type="submit" class="btn green-btn dark">Submit</button>

            <input type="hidden" name='_method' value="PATCH" />
        </form>
    </div>
</div>