<nav id="private">
    <div class="container">
        <p>Job Application Tracker</p>
        <ul class="nav-links">
            <li><a href="/dashboard" class="nav-link" aria-label="Link to Dashboard page">Dashboard</a></li>
            <li><a href="/profile" class="nav-link" aria-label="Link to Profile page">Profile</a></li>
            <li><a href="/statistics" class="nav-link" aria-label="Link to Stats page">Stats</a></li>
            <li><a href="/companies" class="nav-link" aria-label="Link to Company page">Companies</a></li>
            <li><a href="/logout" class="nav-link" aria-label="Link to Logout">Logout</a></li>
        </ul>
    </div>
</nav>