<nav>
    <div class="container">
        <h1>Job Application Tracker</h1>
        <ul class="nav-links">
            <li><a href="/dashboard" class="nav-link" aria-label="Link to Dashboard page">Dashboard</a></li>
            <li><a href="/statistics" class="nav-link" aria-label="Link to Stats page">Stats</a></li>
            <li><a href="/company" class="nav-link" aria-label="Link to Company page">Company</a></li>
            <li><a href="/logout" class="nav-link" aria-label="Link to Logout">Logout</a></li>
        </ul>
    </div>
</nav>