<nav>
    <div class="container">
        <h1>Job Application Tracker</h1>
        <div class="nav-btn">
            <a href="/register" class="orange-btn btn nav-button">Sign Up</a>
            <a href="/login" class="orange-btn btn nav-button">Log In</a>
        </div>
    </div>
</nav>