<nav id="public">
    <div class="container">
        <p>Job Application Tracker</p>
        <div class="nav-btn">
            <a href="/register" class="orange-btn btn nav-button">Sign Up</a>
            <a href="/login" class="orange-btn btn nav-button">Log In</a>
        </div>
    </div>
</nav>