<link rel="stylesheet" href="../public/css/applicationPage.css">
<h1>Applications</h1>
<table id="applicationTable">
    <tr>
        <th id="positionHeader">
            <div style="display:inline">
                <a href="" data-sort="jobPosition">Position</a>
            </div>
        </th>
        <th id="nameHeader"><a href="" data-sort="companyName">Company</a></th>
        <th id="cityHeader"><a href="" data-sort="appCity">City</a></th>
        <th id="stateHeader"><a href="" data-sort="appState">State</a></th>
        <th id="dateHeader"><a href="" data-sort="date">Date</a></th>
        <th id="statusHeader"><a href="" data-sort="status">Status</a></th>
    </tr>
</table>
<script src="/public/js/application_page.js" type="module"></script>
