<div class="container">
    <div class="row">
        {{#each companies}}
<div class="col-lg-2 col-md-4 mb-4">
    <div class="card h-100">
        <a class="company-link" href="javascript:void(0)" data-id="{{_id}}" style="text-decoration: none; color: inherit;">
            <img class="card-img-top" src="{{logoUrl}}" alt="Company Logo">
            <div class="card-body">
                <h5 class="card-title">{{company}}</h5>
                <p class="card-text">{{sector}}</p>
            </div>
        </a>
    </div>
</div>

        {{/each}}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="companyModalLabel">Company Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Company details will go here -->
            </div>
        </div>
    </div>
</div>
