<h1 class="form-header">Login</h1>
<form id="signin-form" action="/login" method="POST">
    <p class="login-instructions"><span class="star">*</span> Indicates Required Field</p>

    <!-- Email -->
    <label for="email">Enter Email <span class="star">*</span></label>
    <input type="email" name="email" id="email">
    <span class="form-error">{{errors.email}}</span>

    <!-- Password -->
    <label for="password">Enter Password <span class="star">*</span></label>
    <input type="password" name="password" id="password">
    <span class="form-error">{{errors.password}}</span>

    <p class="form-error">{{errors.message}}</p>

    <!-- Submit -->
    <button class="btn green-btn dark" type="submit">Submit</button>
    <a href="/register" class="dk-green-link">Click here to Register</a>
</form>