<!-- views/map.handlebars -->
<h1>Job Applications</h1>
<p>Click on markers to see number of applications with current status.</p>
<div id="map" style="height: 700px;"></div>
<div id= "data-map-data" hidden>
    {{data}}
</div>

<script src="/js/maps.js" defer></script>
