/*************************************
    General Styles 
**************************************/
body{
    font-family:"Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-size:1em;
    line-height:1.3;
}
/* Header Styles */
h1, h2, h3, h4, h5, h6{
    font-weight:900;
}

/* Buttons */
/**************************************
To style any button, use the following class names:

Orange (against dark backgrounds): class="btn orange-btn"
Orange (against light backgrounds): class="btn orange-btn dark"

Green (against dark backgrounds): class="btn green-btn"  
Green (against light backgrounds): class="btn green-btn dark" 

Blue (against dark backgrounds): class="btn blue-btn"  
Blue (against light backgrounds): class="btn blue-btn dark" 

White (against dark backgrounds only): class="btn white-btn"
**************************************/
.btn{
    outline:none;
    border-width:4px;
    border-style:solid;
    border-radius:25px;
    padding:.5em .75em;
    font-weight:bold;
    text-decoration:none;
}
/* Orange Button */
.orange-btn{
    outline:none;
    border-color:#f1ab0a;
    background-color:#f1ab0a;
    color:#232a35;
}
.orange-btn:hover,
.orange-btn:focus,
.orange-btn.btn:active{
    border-color:#f1ab0a;
    background-color:transparent;
    color:#f1ab0a;
    text-decoration:none;
}
.orange-btn.dark:hover,
.orange-btn.dark:focus,
.orange-btn.btn.dark:active{
    border-color:#623304;
    background-color:transparent;
    color:#623304;
    text-decoration:none;
}
/* Green Button */
.green-btn{
    border-color:#05a870;
    background-color:#05a870;
    color:#fff;
}
.green-btn:hover,
.green-btn:focus,
.green-btn.btn:active{
    border-color:#05a870;
    background-color:transparent;
    color:#05a870;
    text-decoration:none;
}
.green-btn.dark:hover,
.green-btn.dark:focus,
.green-btn.btn.dark:focus{
    border-color:#0d5b41;
    background-color:transparent;
    color:#0d5b41;
    text-decoration:none;
}

/* Blue Button */
.blue-btn{
    border-color:#05b2cb;
    background-color:#05b2cb;
    color:#232a35;
}
.blue-btn:hover,
.blue-btn:focus,
.blue-btn.btn:active{
    border-color:#05b2cb;
    background-color:transparent;
    color:#05b2cb
}
.blue-btn.dark:hover,
.blue-btn.dark:focus,
.blue-btn.btn.dark:active{
    border-color:#0d4f59;
    background-color:transparent;
    color:#0d4f59;
}

/* White Button */
.white-btn{
    border-color:#fff;
    background-color:#fff;
    color:#171d27;
}
.white-btn:hover,
.white-btn:focus,
.white-btn.btn:active{
    border-color:#fff;
    background-color:transparent;
    color:#fff;
    text-decoration:none;
}

/* Accessibility Styles*/
.orange-btn:focus-visible,
.green-btn:focus-visible,
.blue-btn:focus-visible{
    outline:2px solid #fff;
}
.orange-btn.dark:focus-visible,
.green-btn:focus-visible,
.blue-btn:focus-visible{
    outline:2px solid #000;
}
@media(min-width:425px){
    .btn{
        width:100%;
        max-width:150px;
    }
}

/*************************************
    Landing Page Styles 
**************************************/
/* Nav Styles */
nav.landing-nav{
    background-color:#232a35;
    color:#05a870;
    padding:1em 0;
    text-align:center;
}
nav.landing-nav .container{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
nav.landing-nav h1{
    line-height:1;
    margin-bottom:.5em;
    font-size:2em;
}
nav .nav-btn{
    display:flex;
    justify-content:center;
}
nav .nav-btn button{
    width:150px;
}
nav .nav-btn button:first-child{
    margin-right:.5em;
}
@media(min-width:768px){
    nav.landing-nav .container{
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }
    nav.landing-nav h1{
        margin:0;
        font-size:1.5em;
    }
    nav .nav-btn button{
        margin:0;
        width: 100px;
    }
}

/* Header */
header.landing-header{
    padding:3em 0;
    background-color:#def5ec;
    color:#0d5b41;
    text-align:center;
}
header.landing-header h2{
    margin-bottom:1.5em;
}
header.landing-header p{
    width:100%;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}
header.landing-header button{
    margin-top:1.5em;
}

/* Landing Page Main Section */
main{
    padding-top:2em;
}
.landing-sec{
    margin-bottom:2em;
}
.landing-sec div{
    text-align:center;
}
.landing-sec img{
    width:100%;
    max-width:200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.landing-sec div h3{
    color:#0d5b41;
    margin-bottom:1.5em;
}
@media(max-width:767px){
    .landing-sec:nth-child(even){
        display:flex;
        flex-direction:column-reverse;
    }
}
@media(min-width:425px){
    .landing-sec div{
       width:80%;
       margin-left:auto;
       margin-right:auto;
    }
}
@media(min-width:768px){
    .landing-sec{
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        padding:1.5em 0;
    }
    .landing-sec div{
       margin:0;
    }
    .landing-sec div,
    .landing-sec img{
        width:50%;
    }
    .landing-sec img{
        box-shadow:0 2px 15px -4px rgba(0,0,0,0.15);
    }
}
@media(min-width:1024px){
    .landing-sec div{
        width:40%;
    }
    .landing-sec img{
        margin:0;
    }
}

/* Green section */
.landing-sec-green{
    background-color:#05a870;
    color:#fff;
    font-weight:bold;
    text-align:center;
    padding: 3em 0;
}
.landing-sec-green p{
    width:100%;
    max-width:600px;
    margin:2em auto;
}

/* Footer Styles */
footer{
    background-color:#232a35;
    color:#fff;
    font-style:italic;
    text-align:center;
    padding:1.5em 0;
}
footer p{
    margin-bottom:0;
}